{% extends 'base.html' %}


{% block titlecontent %} Chat|Page {% endblock %}

{% block content %}
<div class="row m-0 ">
  <div class="col-12 p-0 d-flex align-items-center "> 
    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
    class="m-md-3 m-1 rounded-circle d-flex align-self-start shadow-1-strong" width="60">
    <span class="p-1 fs-md-3 fs-5 ">{% if request.user.is_authenticated %}{{request.user}}{% else %}User{% endif %}</span>
  </div>
</div>
<div class="row m-0">
  {% if history %}
  <div class="col-md-10 col-12 chat-window" id="chat-window">
    {% for i in history %}
    <!-- User Dialog Box -->
      <div class="user-dialog-box row justify-content-end align-items-center">
        <div class="col-md-7 user-text text-end"><p>{{i.messageInput}}</p></div>
        <div class="col-md-2 d-md-block d-none">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
          class="p-0 m-auto rounded-circle d-flex align-self-end shadow-1-strong" width="60">
          <p class="text-center">{{request.user}}</p>
        </div>
      </div>
      
      <!-- AI Dialog Box -->
      <div class="ai-dialog-box row justify-content-start align-items-center">
        <div class="col-md-2 d-md-block d-none">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
          class="p-0 m-auto rounded-circle d-flex align-self-end shadow-1-strong" width="60">
          <p class="text-center">{{i.bot_name}}</p>
        </div>
        <div class="col-md-7 bot-text text-start">
          <p>{{i.bot_response}}</p>
          <a class=" dispaly-inline text-white" id="speak-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-volume-up" viewBox="0 0 16 16">
              <path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
              <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
              <path d="M10.025 8a4.486 4.486 0 0 1-1.318 3.182L8 10.475A3.489 3.489 0 0 0 9.025 8c0-.966-.392-1.841-1.025-2.475l.707-.707A4.486 4.486 0 0 1 10.025 8zM7 4a.5.5 0 0 0-.812-.39L3.825 5.5H1.5A.5.5 0 0 0 1 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 7 12V4zM4.312 6.39 6 5.04v5.92L4.312 9.61A.5.5 0 0 0 4 9.5H2v-3h2a.5.5 0 0 0 .312-.11z"/>
            </svg>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
<div class="row m-0">
  <div class="col-md-10 col-12 chat-input">
    <div class="row ">
      <div class="col-1 mic-button ">
        <a class="text-white dispaly-inline" id="record-button" onclick="runSpeechRecog()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bibi-mic m-3" viewBox="0 0 16 16">
              <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
              <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"/>
            </svg>
          </a>
      </div>
      <div class="col-10">
      <form id="myForm" method="post">
        {% csrf_token %}
        <input class="form-control" name="user_input" data-user="{{request.user}}" id="clear_input">
      </div>
      <div class="col-1 msg-btn">
        <a class="text-white dispaly-inline" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill m-3" viewBox="0 0 16 16">
          <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
        </svg></a>
      </form>
      </div>
    </div>
    </div>
</div>

{% endblock %}


